<!DOCTYPE html>
<html>
{% block head %}
    <title>{% block title %}{% endblock %} - Critical Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
<body>
    <nav>
        <h1>Critical Info</h1>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>

</body>
</html>