{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src = "{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
{% block header %}
    <h1>{% block title %}Summarizer{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div id ="input">
        <p id="result"></p>
        <!-- action= "{{ url_for('static', filename='upload.php') }}" -->
        <form method="post" enctype="multipart/form-data">
            File: <input name="file" type="file" />
                <input type="submit" name="upload" value="Upload" />
        </form>
        <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe>
    </div>
    <div id ="compare">
        <form action = "/textsummary" target = "textsummary" method="post">
            <textarea name = "text" rows = "8" cols = "70"></textarea><br>
            <input name = "compare" type = "submit" value = "Summarize">
        </form>
        <iframe name = "textsummary" frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 100%; height:100%;' src="/textsummary"></iframe>
        
    </div>
{% endblock %}