{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <script src = "{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.form.min.js') }}"></script>
    <script src = "{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
{% block header %}
    <h1>{% block title %}Summarizer{% endblock %}</h1>
{% endblock %}


{% block content %}
    <div id ="container" style = "width:100%;">
        <div id = "left" style = "float:left; width:50%;">
            <div id ="input">
                <!-- action= "{{ url_for('static', filename='upload.php') }}" -->
                <div>
                        <input type = "text" pattern = "\d*" name = "sentNum" id = "sentNum" placeholder="Number of sentences">
                </div>
                <hr>
                <form action = "{{ url_for('static', filename='upload.php') }}" method="post" enctype="multipart/form-data" id = "fileupload">
                    File: <input name="file" type="file" id = "file" />
                        <input type="submit" name="upload" id = "upload" value="Upload" />
                </form>
                <hr>
                <form method="post" id="textbox">
                        <textarea name = "text" id = "textarea" rows = "8" cols = "70" style="resize: vertical;"></textarea><br>
                        <input name = "compare" type = "submit" value = "Summarize">
                </form>
                <hr>
                <form target = "textsummary" method="post" id="externalurl">
                    <div>
                        <input type="text" name="url" placeholder="External URL">
                        <input type="submit" name="external" value = "Submit">
                    </div>
                </form>
            </div>
            <div id="highlighttext"></div>
        </div>

        <div id = "right" style = "float:right; width:50%;">
<!--             <iframe name = "textsummary" frameborder='0' noresize='noresize' style='position: absolute; background: transparent; width: 50%; height:100%;' src="/textsummary"></iframe> -->
            <div id="textsummary" style='position: absolute; background: transparent; width: 50%; height:100%;'></div>
        </div>
    </div>
    
        
        
{% endblock %}
